.btn {
    background-size: 110% 110%;
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline {
    display: inline-block;
}