#team .container-box {
    min-height: 640px;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 16px;
    transition: all .2s;
    border: 1px solid #ebedf0;
    padding: 42px 24px 50px;
    color: rgba(0, 0, 0, .65);
    background-color: #FFFFFF;
}