#dashboard .header {
    width: 100%;
    top: 0;
    z-index: 10;
    font-size: 16px;
    text-align: center;
    transition: all .3s ease-in-out;
}

#dashboard .header .container {
    height: 100%;
    position: relative;
    margin: 0 30px;
    display: flex;
    align-items: center;
}

#dashboard .content .container {
    max-width: 1012px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
}


#dashboard .content {
    min-height: 85vh;
    background-color: #fafbfc;
}

#dashboard .nav {
    flex: 1 1;
}

#dashboard .logo {
    color: #FFFFFF;
    font: normal normal normal 14px/1 "Arial Black";
    font-size: 32px;
    line-height: 32px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#dashboard .actions {
}

#dashboard .actions div {
    display: inline-block;
}

#dashboard .actions .link {
    margin: 0 14px;
    color: #FFFFFF;
    font-size: inherit;
}

#dashboard .actions .link:hover {
    color: #d1d5da;
}

#dashboard .dropdown-caret {
    border: 4px solid transparent;
    border-top-color: currentcolor;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    color: #fff;
    margin: 0 5px;
}

#dashboard .dropdown-caret:hover {
    color: #d1d5da;
}

#dashboard .dropdown {
    position: relative;
    cursor: pointer;
}


#dashboard .footer .copy ul li {
    list-style: none;
}


#dashboard .bell {
    font-size: 18px;
    color: #FFF;
}

#dashboard .bell:hover {
    color: #d1d5da;
}

#dashboard .actions .dropdown {
    margin: 0 10px;
}

#dashboard .avatar {
    font-size: 36px;
}

#dashboard .footer {
    height: 10px;
    background-color: #FFFFFF;
}