<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    script(async defer src="https://buttons.github.io/buttons.js")
    link(rel="icon" href="./favicon.ico")
    title Plumber 项目管理工具
  body
    div(id="app")
    //- <!-- built files will be auto injected -->